.horizontal__scroll{
  display: grid;
  height: 104.5%;
  gap: 1rem;
  // height: 80vh;
  margin-block: 1.5rem;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  // background-color: rgb(255, 255, 255) ;
  // background-image: url('/assets/login_background.jpg') !important;
  // background-color: #62DE94;
  border-radius: 5px;
  //border: solid 1.5px rgb(117, 117, 117);
  .title{
      display: flex;
      align-items: center;
      gap: .5rem;
      font-weight: 500;
      font-size: 25px;
      margin: auto;
  }
}

.containerChangepass{
    height: 100%;
   background-image: url('/assets/login_background.jpg') !important;
   background-color: #62DE94;
   margin-top: 0px; 
   width: 100%; 
  overflow-y: hidden;
  overflow: hidden;


  display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;  

}

.changePassForm{
  position: relative;
  width: 400px;
  height: fit-content;
  top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  //background-color: yellow;
  border: solid 1px rgb(228, 228, 228);
  border-radius: 10px;
  // margin: auto;
  background-color: white;

  .form__control{
    position: relative;
    //background-color: green;
    margin:auto;
    width: fit-content;
  }
  input{
    width: 250px;
  }
  
}


  /* iPad */
  @media (max-width: 768px) {
  
  }
  
  /* Phone */
  @media (max-width: 480px) {
    .changePassForm{
      // position: relative;
      width: 300px;
    }
    
  }
button{
  position: relative;
  margin: auto;
  background-color: rgb(0, 117, 185);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-left: 50px;
  margin-top: 20px;
  cursor:pointer;
}

.reqMessage{
  position: relative;
  //background-color: yellow;
  color: red;
  font-size: 11px;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

.errMsg{
  position: relative;
  //background-color: yellow;
  color: red;
  font-size: 11px;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

#successMsg{
  position: relative;
  color: rgb(12, 176, 12);
  margin: auto;
}

/*span{
  position: relative;
  background-color: yellow;
  font-size: 11px;
  width: 80%;
}*/

.eyeToggle{
  position: absolute;
  background-color: transparent !important;
  left: 70%;
  top: 0px;
  width: fit-content;
  height: fit-content;
}

.eyeToggle i {
  background-color: transparent;
}


.error-message{
  position: relative;
  left: 50px;
  top: 10px;
  color: rgb(238, 6, 6);
}
