<div class="containerChangepass" >
  <div class="horizontal__scroll">
    <div class="title">
      {{ 'label.changePassword' | translate}}
    </div>
    <div class="changePassForm">
      <!--<div class="errMsg" *ngIf="errorMsg">{{ message }}</div>-->
      <div class="form__control" >
        <label for="">{{ 'label.oldPassword' | translate}}</label>
        <!--<input type="text" [(ngModel)]="oldPassword" autocomplete="false">-->
        <div class="password-input-container">
          <input type="{{ showOldPassword ? 'text' : 'password' }}" id="password" [(ngModel)]="oldPassword" autocomplete="false">
          <button type="button" (click)="toggleOldPasswordVisibility()" class="eyeToggle">
            <img src="/assets/icons/visibilityOn.png" alt="" srcset="" height="20" *ngIf="!showOldPassword">
            <img src="/assets/icons/visibilityOff.png" alt="" srcset="" height="20" *ngIf="showOldPassword">
            <i  [ngClass]="{'fa-eye': !showOldPassword, 'fa-eye-slash': showOldPassword}"></i>
          </button>
        </div>
      </div>
      <div class="form__control">
        <label for="password">{{ 'label.newPassword' | translate}}</label>
        <div class="password-input-container">
          <input type="{{ showPassword ? 'text' : 'password' }}" id="password" [(ngModel)]="newPassword" autocomplete="false">
          <button type="button" (click)="togglePasswordVisibility()" class="eyeToggle">
            <img src="/assets/icons/visibilityOn.png" alt="" srcset="" height="20" *ngIf="!showPassword">
            <img src="/assets/icons/visibilityOff.png" alt="" srcset="" height="20" *ngIf="showPassword">
            <i  [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
          </button>
        </div>
      </div>
      <!--<div class="form__control" >
        <label for="">New Password</label>
        <input type="password" [(ngModel)]="newPassword" autocomplete="false">
      </div>-->
      <div class="form__control" >
        <label for="">{{ 'label.confirmPassword' | translate}}</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" autocomplete="false">
      </div>
      <div *ngIf="passwordsDoNotMatch()" class="error-message">{{ "label.PassDontMatch" | translate }}</div>
      <button class="btn btn-primary" [disabled]="passwordsDoNotMatch() || newPassword==='' || newPassword==null" style="margin-left: 19%;" (click)="changePassword()">{{ 'label.save' | translate}}</button><br>
      <div class="reqMessage">
        <span *ngIf="!islogged">Please make sure to remember your new password</span>
      </div>
    </div>
  </div>
</div>
<dialog class="modal" #modal>
  <div class="header">
      <div class="title">Action Panel</div>
  </div>
  <div class="form">
      <div class="row">
          <label for="" id="successMsg">{{ message }}</label>
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="closeModal()">return</button>
      </div>
  </div>

</dialog>
<app-alert [status]="alertBody.status" [message]="alertBody.message" [isAlertVisible]="alertBody.open"></app-alert>
