.content{
  position: fixed;
  // left: 250px;
  top: 50px;
  padding: 1rem;
  width:calc(100% - 250px);
  height: calc(100vh - 50px);
  background-color: #fff;



  
  
  h4{
      font-weight: 500;
  }
  z-index: 1;
  .overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background:linear-gradient(90deg,#3894bc 31%,#3EC67C 100%);
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 75%);
      z-index: -1;
  }
}



@media (max-width: 768px) {
  .content{
      position: fixed;
      left: 0;
      top: 50px;
      padding: 1rem;
      width:100%;
      height: calc(100vh - 50px);
      background-color: #fff;
  }
}

/* Phone */
@media (max-width: 480px) {
  .content{ 
      position: fixed;
      left:0;
      top: 50px;
      
      padding: 1rem;
      width:100%;
      height: calc(100vh - 50px);
      background-color: #fff;
  }
}

.box__wrapV2{
  overflow-x: hidden;
  // overflow-y: visible;
  border-radius: 10px;
  background-color: #fff;
  //border: 1px solid #BCBCBC;
  // width:95%;
  height: max-content;
  // height: 70vh;
  // min-height: 100%;
  margin-block: 1rem;
}



/* Media Queries for Responsive Design */

/* iPad */
@media (max-width: 768px) {
  content {
      left: 0;
      width: 100%;
  }
}

/* Phone */
@media (max-width: 480px) {
  content {
      left: 0;
      width: 100%;
  }
}