

<div class="container mt-10" style="background-color: white; height: 482px; width: 834px; top: 40px; border: 1px solid black; padding: 20px; margin-top: 20px; display: flex; flex-direction: column;">

    <div class="label-input-pair" style="margin-top: 40px; "  >
        <label for="transactionType">Transaction Type</label>
        <select id="transactionType" class="form-control" style="width: 350px;">
            <option value="purchase" style="width: 350px;">Purchase</option>
            <option value="withdrawal" style="width: 350px;">Withdrawal</option>
            <option value="deposit" style="width: 350px;">Deposit</option>
        </select>
    </div>



    <div class="label-input-pair">
        <label for="codePin">Code PIN</label>
        <input type="password" id="codePin" class="form-control" style="width: 350px;">
    </div>

    <div class="label-input-pair">
        <label for="amount">Amount</label>
        <input type="text" id="amount" class="form-control"  style="width: 350px;">
    </div>

</div>
