.label-input-pair {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.label-input-pair label {
    width: 150px;
    margin-right: 10px;
}

.label-input-pair select,
.label-input-pair input {
    width: 200px;
}