<div class="container mt-10" style="background-color: white; height: 482px; width: 834px; top: 40px; border: 1px solid black; padding: 20px; margin-top: 20px;">
    <div  class="label-input-pair">
      <label for="cryptogram"  style="width: 120px;">Cryptogramme:</label>
      <select id="cryptogram" class="form-control" style="width: 400px; ">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
      </select>
    </div>
  
    <div class="key-container mt-3" style="border: 1px solid black;">
      <h4>Key</h4>
  
      <div class="label-input-pair">
        <label for="payment" style="width: 100px; margin-left: 10px;">Paiement:</label>
        <input type="text" id="payment" class="form-control" style="width: 400px; height: 30px;">
     
      </div>
      <input type="text" id="payment2" class="form-control narrow-input" style="width: 250px; margin-left: 120px; height: 30px; background-color: rgb(150, 148, 148);"><br>
  
      <div class="label-input-pair">
        <label for="mac" style="width: 100px; margin-left: 10px;">MAC:</label>
        <input type="text" id="mac" class="form-control" style="width: 400px; height: 30px;">
      </div>
      <input type="text" id="mac2" class="form-control narrow-input" style="width: 250px; margin-left: 120px; height: 30px; background-color: rgb(150, 148, 148);"><br>
  
      <div class="label-input-pair">
        <label for="encryption" style="width: 100px; margin-left: 10px;">Encryption:</label>
        <input type="text" id="encryption" class="form-control" style="width: 400px; height: 30px;">
      </div>
      <input type="text" id="encryption2" class="form-control narrow-input" style="width: 250px; margin-left: 120px; height: 30px; background-color: rgb(150, 148, 148);"><br>
    </div>
  </div>
  