.label-input-pair {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Ajustez la marge selon vos besoins */
  }
  
  .label-input-pair label {
    margin-right: 10px; /* Ajustez la marge entre le label et l'input selon vos besoins */
  }
  

  