
//---------------------  animation table --------------------//






$primary-clr-500:#3894bc;
$secondary-clr-100:#F0F0F0;
$neutral-clr-100:#ffff;
$neutral-clr-800:#333;
$neutral-clr-900:#222;
$success-clr:#3EC67C;
$danger-clr:#c61c52;


$ff-primary :'Mukta', sans-serif;

$ff-body:$ff-primary;
$ff-heading:$ff-primary;

$fw-thin:300;
$fw-regular:400;
$fw-semi-bold:500;
$fw-bold:800;

$fs-200:.775rem;
$fs-300:.8125rem;
$fs-400:.875rem;
$fs-500:1rem;
$fs-600:1.875rem;
$fs-700:2.5rem;

/**tabs**/
$tab-primary-bg:$primary-clr-500;
$tab-primary-clr:$neutral-clr-100;

$tab-secondary-bg:$neutral-clr-100;
$tab-secondary-clr:$primary-clr-500;

/**buttons**/
$btn-primary-bg:$primary-clr-500;
$btn-primary-clr:$neutral-clr-100;

$btn-success-bg:$success-clr;
$btn-success-clr:$neutral-clr-100;

$btn-secondary-bg:$neutral-clr-100;
$btn-secondary-clr:$primary-clr-500;

$btn-danger-bg:$danger-clr;
$btn-danger-clr:$btn-primary-clr;


.table{
  box-shadow: 1px 1px 8px  #7b7b7b47;
  background-color: $neutral-clr-100;
  width: fit-content;
  border-radius: 7px;
  text-align: left;
  font-size: $fs-300;
  min-width: 400px;
  margin-block: .5rem;
  table{
    width: 100%;
    margin-bottom: .5rem;
    thead{
      tr{
        font-size: $fs-300;
        font-weight: $fw-semi-bold;
      }
    }
    td,th{
      padding: .3rem 1rem;

    }
    td + td, th + th{
      border-left: 1px solid #efefef;
    }
    tbody{
      tr{
        font-size: $fs-200;
        cursor: pointer;
        transition: .3s ease;
        color: $neutral-clr-800;
        &:hover{
          scale: 1.02;
        }
      }
      tr:nth-child(odd){
        background-color: #e1e1e1;
      }
      tr:nth-child(even){
        background-color: $neutral-clr-100;
      }
    }
  }
}




$primary-clr-500:#3894bc;
$secondary-clr-100:#fdfdfd;
$neutral-clr-100:#ffff;
$neutral-clr-800:#333;
$neutral-clr-900:#222;

$ff-primary :'Mukta', sans-serif;

$ff-body:$ff-primary;
$ff-heading:$ff-primary;

$fw-regular:400;
$fw-semi-bold:500;
$fw-bold:800;

$fs-300:.8125rem;
$fs-400:.875rem;
$fs-500:1rem;
$fs-600:1.875rem;
$fs-700:2.5rem;

/**tabs**/
$tab-primary-bg:$primary-clr-500;
$tab-primary-clr:$neutral-clr-100;

$tab-secondary-bg:$neutral-clr-100;
$tab-secondary-clr:$primary-clr-500;

/**buttons**/
$btn-primary-bg:$primary-clr-500;
$btn-primary-clr:$neutral-clr-100;

$btn-secondary-bg:$neutral-clr-100;
$btn-secondary-clr:$primary-clr-500;

.content{
  position: absolute;
  top:40px;
  left: 0;
  min-height:calc(90vh - 40px);
  width:calc(100vw - 215px);
  display: grid;
  gap: 1rem;
  padding-inline: 1rem;
  .box{
    background-color:$neutral-clr-100;
    box-shadow:2px 4px 11px 4px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
    padding: .5rem;
    overflow: hidden;
    position: relative;
    .box-top{
      border-bottom: 1px solid #8e8e8e44;
      padding-block: 1rem;
    }
    .box-middle{
      position: relative;
      padding-block: 1rem;
      min-height: 300px;
      .box-header{
        display: flex;
        position: relative;
        top: 20%;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #c3c3c379;
        .tab{
          font-size: $fs-400;
          padding:.5rem;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          cursor: pointer;
        }
        .active-tab{
          box-shadow: inset 0 -5px 0px 0px $primary-clr-500;
        }
      }
      .box-body{
        .tab-content{
          position: relative;
          padding: .5rem;
          .two-cols{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            .details{
              width: max-content;
              padding: 1rem;
              background-color: #fafafa;
              border-radius: 7px;
              border:1px solid  #d8d8d8;
              .field{
                position: relative;
                margin: .2rem;
                .code{
                  position: absolute;
                  right:0;
                  transform: translateX(120%);
                  top: 50%;
                  color: #3894bc;
                }
              }
              img{
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}






//--------------------------------

.form__control{
  width: 100%;
  min-width: 200px;
}
.bg{
 // background-color: #f9f9f9; 
    margin-top: 60px;
}

form{
  position: relative;
  left: 2%;
}

.errorValid{
  position: relative;
  color: red;
  font-size: 10px;
}






.clearBtn{
  position: relative;
  border: none;
  border-radius: 3px;
  background-color: #62DE94;
  color: white;
  font-size: 11px;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 10px;
}
button{
  cursor: pointer;
}




.rowGeneral {
  display: flex;
  gap: 1rem;
  align-items: start;
  width: 100%;
}

/* Media query pour les écrans dont la largeur est inférieure à 500px */
@media (max-width: 1470px) {
  .rowGeneral {
    display: block;
  }
  .table{
    width: 100%;
  }
  
}


///////////////////////////*************************************************************************