

//---------------------  animation table --------------------//




$primary-clr-500:#3894bc;
$secondary-clr-100:#F0F0F0;
$neutral-clr-100:#ffff;
$neutral-clr-800:#333;
$neutral-clr-900:#222;
$success-clr:#3EC67C;
$danger-clr:#c61c52;


$ff-primary :'Mukta', sans-serif;

$ff-body:$ff-primary;
$ff-heading:$ff-primary;

$fw-thin:300;
$fw-regular:400;
$fw-semi-bold:500;
$fw-bold:800;

$fs-200:.775rem;
$fs-300:.8125rem;
$fs-400:.875rem;
$fs-500:1rem;
$fs-600:1.875rem;
$fs-700:2.5rem;

/**tabs**/
$tab-primary-bg:$primary-clr-500;
$tab-primary-clr:$neutral-clr-100;

$tab-secondary-bg:$neutral-clr-100;
$tab-secondary-clr:$primary-clr-500;

/**buttons**/
$btn-primary-bg:$primary-clr-500;
$btn-primary-clr:$neutral-clr-100;

$btn-success-bg:$success-clr;
$btn-success-clr:$neutral-clr-100;

$btn-secondary-bg:$neutral-clr-100;
$btn-secondary-clr:$primary-clr-500;

$btn-danger-bg:$danger-clr;
$btn-danger-clr:$btn-primary-clr;


.table{
  box-shadow: 1px 1px 8px  #7b7b7b47;
  background-color: $neutral-clr-100;
  // width: fit-content;
  width: 100%;
  border-radius: 7px;
  text-align: left;
  font-size: 10px;
  min-width: 560px;
  margin-block: .5rem;
  table{
    width: 100%;
    margin-bottom: .5rem;
    thead{
      tr{
        font-size: 10px;
        font-weight: $fw-semi-bold;
      }
    }
    td,th{
      padding: .3rem 1rem;

    }
    td + td, th + th{
      border-left: 1px solid #efefef;
    }
    tbody{
      tr{
        font-size: $fs-200;
        cursor: pointer;
        transition: .3s ease;
        color: $neutral-clr-800;
        &:hover{
          scale: 1.02;
        }
      }
      tr:nth-child(odd){
        background-color: #e1e1e1;
      }
      tr:nth-child(even){
        background-color: $neutral-clr-100;
      }
    }
  }
}









$primary-clr-500:#3894bc;
$secondary-clr-100:#fdfdfd;
$neutral-clr-100:#ffff;
$neutral-clr-800:#333;
$neutral-clr-900:#222;

$ff-primary :'Mukta', sans-serif;

$ff-body:$ff-primary;
$ff-heading:$ff-primary;

$fw-regular:400;
$fw-semi-bold:500;
$fw-bold:800;

$fs-300:.8125rem;
$fs-400:.875rem;
$fs-500:1rem;
$fs-600:1.875rem;
$fs-700:2.5rem;

/**tabs**/
$tab-primary-bg:$primary-clr-500;
$tab-primary-clr:$neutral-clr-100;

$tab-secondary-bg:$neutral-clr-100;
$tab-secondary-clr:$primary-clr-500;

/**buttons**/
$btn-primary-bg:$primary-clr-500;
$btn-primary-clr:$neutral-clr-100;

$btn-secondary-bg:$neutral-clr-100;
$btn-secondary-clr:$primary-clr-500;

.content{
  position: absolute;
  top:40px;
  left: 0;
  min-height:calc(90vh - 40px);
  width:calc(100vw - 215px);
  display: grid;
  gap: 1rem;
  padding-inline: 1rem;
  .box{
    background-color:$neutral-clr-100;
    box-shadow:2px 4px 11px 4px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
    padding: .5rem;
    overflow: hidden;
    position: relative;
    .box-top{
      border-bottom: 1px solid #8e8e8e44;
      padding-block: 1rem;
    }
    .box-middle{
      position: relative;
      padding-block: 1rem;
      min-height: 300px;
      .box-header{
        display: flex;
        position: relative;
        top: 20%;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #c3c3c379;
        .tab{
          font-size: $fs-400;
          padding:.5rem;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          cursor: pointer;
        }
        .active-tab{
          box-shadow: inset 0 -5px 0px 0px $primary-clr-500;
        }
      }
      .box-body{
        .tab-content{
          position: relative;
          padding: .5rem;
          .two-cols{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            .details{
              width: max-content;
              padding: 1rem;
              background-color: #fafafa;
              border-radius: 7px;
              border:1px solid  #d8d8d8;
              .field{
                position: relative;
                margin: .2rem;
                .code{
                  position: absolute;
                  right:0;
                  transform: translateX(120%);
                  top: 50%;
                  color: #3894bc;
                }
              }
              img{
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}




///////////////////////////*************************************************************************

.h2-title{
  padding: 0.2rem .5rem;
  margin-bottom: .5rem;
  width: fit-content;
  position: relative;
  background-color: #3EC67C;
  color: #fff;
  border-radius: 0px 3px 7px 0;
  font-size: $fs-300;
  &::after{
    content: '';
    width: 300px;
    height: 100%;
    background-color: #3EC67C;
    position: absolute;
    bottom: 0;
    right: 100%;
  }
}

.body-client{
    margin-top: 0%;
}
.col-body{
    margin-top: 0.4%;
}
.Dflex{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .button-clear{
   color: red;
  }

.rowWith{
  width: 99%;
}

.DflexButton{
  display: flex;
}
 
.btn-delete{
  margin-right: 2%;
}

.footer{
    position: absolute;
    bottom: 0;
    left:220px;
    border-top: 1px solid #c7c7c7;
    padding: 1rem;
    width: 100%;
}

span{
  // position: absolute;
  margin-top: -10px;
}


.row-Top{
  // margin-top: 10px !important;
}



.input-key{
  // width: 500px;
}

.large-input {
  width: 100%;
}
.track{
  width: 100%;
}

.f_right{
  width: 100%;
  margin-left: 85%;
  right: 0;
}

.form_white{
  width: 50%;
}



.rowGeneral {
  display: flex;
  gap: 1rem;
  align-items: start;
  width: 100%;
}

/* Media query pour les écrans dont la largeur est inférieure à 500px */
@media (max-width: 1500px) {
  .rowGeneral {
    display: block;
    margin-left: 5%;
    width: 90%;
  }
  .table{
    width: 100%;
  }
  
}



.btn_save{
  margin-top: 8px;
}






.p-key{
    width: fit-content;
    background-color: #f6f6f6;
    padding: 5px;
    border-radius: 4px;
}


.form__controlProfile{
  position: relative;
  display: grid;
  width: 100%;
  gap: .1rem;
  label{
    font-weight: 500;
    font-size: 10px;
  }
  .key-color{
    color: white;
  }
  input{
    padding-left: .5rem;
    background-color: #ffff;
  }
  .icon{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  span{
    position: absolute;
    width: max-content;
    bottom: -30%;
    font-size: smaller;
  }
  .error{
    color: red;
  }
  .input-key{
    min-width: 500px;
  }

  input,.select__box{
    width: 70%;
    border-radius: 7px;
    border: 1px solid #BCBCBC;
    outline: none;
    height: 30px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    &:not(input[type=date],input[type=month],input[type=radio])::after{
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgb(136, 136, 136);
      border-radius: 10px ;
      position: absolute;
      top: 40%;
      right: 7px;
      content: "";
      z-index: 98;
    }

    select{
      z-index: 99;
      background: none;
      border: none;
      width: 100%;
      // min-width: 250px;
      height: 30px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      padding-left:.5rem;

    }
  }
  .input__group{
    position: relative;
    .input__group_text{
      position: absolute;
      right: 2px;
      top: 2px;
      height: 26px;
      background-color: #fff;
      border-radius: 0px 5px 5px 0px;
      padding-inline: .5rem;
      border-left: 1px solid #BCBCBC;
      display: grid;
      place-content: center;

    }
  }
}