<div class="tabs__container">
    <div class="tab__buttons" style="padding: .5rem; gap: 1rem; align-items: center;">
        <img src="assets/icons/share.png" height="25" alt="">
        <div class="status"></div>
        <img src="assets/icons/play.png" height="25" alt="">
        <img src="assets/icons/play-msg.png" height="25" alt="">
    </div>
    <div class="content">
        <div class="grid__area">
            <div class="col col__left">
                <div class="buttons">
                    <button>I</button>
                    <button>H</button>
                    <button>G</button>
                    <button>F</button>
                </div>
            </div>
            <div class="col col__middle"></div>
            <div class="col col__right">
                <div class="buttons">
                    <button>A</button>
                    <button>B</button>
                    <button>C</button>
                    <button>D</button>
                </div>
            </div>
            <div class="col col__extra__left">
                <div class="title">
                    Receipt
                </div>
                <img src="assets/icons/Receipt.png" alt="">
                <div class="title">
                    Card Reader
                </div>
                <img src="assets/icons/CardReader.png" alt="">
                <div class="title">
                    Cash
                </div>
                <img src="assets/icons/Cash.png" alt="">
                <div class="title">
                    Journal
                </div>
                <img src="assets/icons/Journal.png" alt="">
            </div>
            <div class="col col__bottom">
                <div class="left">
                    <div class="atm__buttons">
                        <button>7</button>
                        <button>8</button>
                        <button>9</button>
                        <button>4</button>
                        <button>5</button>
                        <button>6</button>
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button><</button>
                        <button>0</button>
                        <button>></button> 
                    </div>
                </div>
                <div class="right">
                    <div class="buttons">
                        <button>Validate</button>
                        <button>Cancel</button>
                        <button>Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>