input:disabled, select:disabled, textarea:disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

.add__btn {
  margin: .5rem;
}

.next__btn {
  margin: 1rem .5rem;
  display: inline-flex;
  gap: .4rem;
  align-items: center;
}

.radio__box {
  margin: .6rem .5rem;
}

.gap {
  gap: 1rem;
  padding-bottom: .4rem;
}

.s-gap {
  gap: 1rem;
}

textarea {
  border: 1px solid #BCBCBC;
  padding: .3rem .5rem;
}
.form {
  margin: 0 .5rem;
}
.definition {
  padding-bottom: 1rem;
  // border-bottom: 1px solid #d7d7d7;
}

.field__value {
  padding-top: .6rem;
  border-top: 1px solid #d7d7d7;
}

.modal {
  padding-bottom: 0;
  .confirm {
    padding: 1rem 1.6rem;
    div {
      margin-top: 1.5rem;
    }
  }
}

.footer__btn {
  margin-top: .6rem;
  .btns {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .6rem;
  }
}

.btn-outlined {
  color: #f9f9f9;
  font-weight: 500;
  border: 1px solid #9e9e9e;
}

.btn-red {
  background-color: #F8285A;
}

.action {
  cursor: pointer;
}
.left {
  // max-width: 300px;
  width: fit-content;
  padding-right: 1.2rem;
  // border-right: 1px solid #d7d7d7;
}
.right {
  border-left: 1px solid #d7d7d7;
  padding-left: 1.2rem;

  // margin: 1rem auto;
}

.scenarios {
  .side__content {
    margin: 1rem;
  }
}

.btns {
  margin-top: 1rem;
}


.DflexButtonTop{
  margin-top: 30px;
}

.select__boxwidth{
  width: 200px;
}
.caseMti{
  width: 700px;
}


// dialog{
//     .modal-Filed{
//         min-width: 800px;
//     }
// }


.div-loader{
  padding-top: 16%;
  margin-left: 7%;
  //   width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

.select__box_Filed{
  width: 85%;
}

.div-codeFiled{
  border: 1px solid #e3dfdf;
  border-radius: 5px;
  background-color:  #d6d6d6;
  padding: 5px;
  margin-top: -5px;
  margin-left: 175px;
  position: absolute;
}
.tabs__container.tabs__ex {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  /* Prevent scrolling */
  overflow: hidden;
}
