.d__hor__2{
  display: flex;
  gap: 2rem;
  margin-block: .5rem;
  .box{
    .title{
      font-size: 14px;
      margin-bottom: .3rem;
      color: #646464;
    }
    .list__box{
      border: 1px solid #BCBCBC;
      height: 320px;
      width: 100%;
      border-radius: 12px;
      position: relative;
      overflow: hidden;
      .scroll__list{
        overflow: scroll;
        scrollbar-width: 4px;
        // height: 260px;
        &::-webkit-scrollbar {
          height: 0px;
          width: 0px;
          background: #646464;
        }
        .item{
          width: 100%;
          display: flex;
          height: 40px;
          align-items: center;
          justify-content: space-between;
          padding-inline: 1rem;
          border-bottom:1px solid #BCBCBC;
          background-color: #FAFAFA;
          font-weight: 500;
        }
      }
      .buttons{
        position: absolute;
        bottom: .5rem;
        right: .5rem;
      }
    }
  }

}
