.box_of_content{
    max-height: 75vh;
    details{
            border-radius: 7px;
            border: 1px solid #b4b4b4;
            margin-block: .5rem;
        summary{
            padding: .5rem;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .details__content{
            font-size: smaller;
            width: 100%;
            border-top: 1px solid #b4b4b4;
            min-height: 5rem;
            min-width: 500px;
        }
    }
    .details__container{
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        border: 1px solid #b4b4b4;
        width: 100%;
        .header{
            padding: .7rem;
            min-width: 500px;
            font-weight: 500;
        }
        .content{
            min-height: 300px;
            border-top: 1px solid #b4b4b4;
        }
    }
    .key{
        width: 350px;
        input{
            max-width: 350px;
        }
    }
}

.f_right {
  justify-content: end;
  padding: 8px;
}
