.box_Content {
    background-color: white;
    box-shadow: 2px 4px 11px 4px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
    padding: 0.5rem;
    overflow: hidden;
    position: relative;
}

.label_select{
    width: 23px;
}
.row{
    padding: 5px;
}

.buttons{
    margin-left: 39px;
}